@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;
}

.first-page{
    background-image: url(./Home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav, ul{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style: none;
    gap: 10px;
}

button{
    border-radius: 45px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
    background-color: #ffbe33;
    align-items: center;
    height: 45px;
    width: 160px;
}

button:hover{
    background-color: #e69c00;
}

.button-dis{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-right: 80px;

}

li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

li a:hover{
    color: #ffbe33;
}

ul li:hover{
    color: #ffbe33;
}

.head{
    padding: 5px 30px;
    margin-left: 40px;
}

.icon{
    gap: 20px;
}

.words{
    padding-left: 200px;
    font-family: "Open Sans", sans-serif;
}

.food{
    
    color: white;
    align-items: flex-start;
    margin-left: 100px;
}


.food h1{
 font-family: "Dancing Script";
 font-size: 3.5rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 15px;
}
.order{
    margin-top: 10px;
}

.food p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-top: 0;

}

.felogo{
    font-family: 'Dancing Script', cursive;
}

.one{
    display: flex;
    gap: 25px;
    padding: 20px 100px;
    padding-top: 40px;
}

.two{
    width: 50%;
    background-color: #222831;
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: auto;
    padding: 30px 30px;
    border-radius: 5px;
}

.two h5{
    font-size: 24px;
}

.two h6{
    font-size: 40px;
}

.two span{
    font-size: 16px;
}

.two img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    outline-style: solid;
    outline-color: #ffbe33;
    outline-width: 5px;
}

.two h5,
.two h6{
    margin: 0;
    padding: 5px;
}

.two .three{
    font-family: "Dancing Script";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.menu{
    text-align: center;
    padding: 40px 0;
}

.menu h2{
    font-family: Dancing Script;
    font-size: 40px;
}

.menu button{
    background-color: #222831;
    height: 40px;
    width: 80px;
}

.menu ul{
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
}

.main{
display: flex;
}

.bottom{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.row{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}